<div class="w-fit-content">
    <div class="job-info flex align-items-start justify-content-start">
        <div class="cursor-pointer" (click)="onBack()">
            <img src="../../../../assets/images/icons/arrow-left.svg" style="margin-right: 30px;">
        </div>
        <div class="flex flex-column">
            <div style="margin-bottom: 10px;" class="flex align-items-center">
                <h2 style="margin-right: 10px;">{{ job?.jobName }}</h2>
                <i class="pi pi-delete-left cursor-pointer" 
                    style="font-size: 26px !important; color: var(--red-500) !important;"
                    (click)="isConfirmDelete = true"></i>
            </div>
            <div class="flex justify-content-start align-items-center" style="margin-bottom: 10px;">
                <img src="../../../../assets/images/icons/briefcase.svg" 
                    [width]="24" style="margin-right: 10px;">
                <h3>{{ job?.jobPosition }}</h3>
            </div>

            <div class="flex justify-content-start align-items-center" style="margin-bottom: 10px;">
                <img src="../../../../assets/images/icons/dollar-circle.svg" 
                    [width]="24" style="margin-right: 10px;">
                <span>{{ parseSalary(job?.salary || '') }}</span>
            </div>
            <div class="flex flex-wrap">
                <p-chip *ngFor="let item of job?.skills">
                    {{ item.name }}
                </p-chip>
                <p-chip *ngFor="let item of job?.languages">
                    {{ item.name }}
                </p-chip>
            </div>
        </div>
    </div>

    <div class="user-job">
        <p-tabView (onChange)="onChangeTabView($event)" [(activeIndex)]="selectedTab">
            <p-tabPanel *ngFor="let tab of tabViews" [selected]="tab.index === selectedTab" 
                [header]="tab.label | translate">
                <app-user-job-applicant [userApplicant]="userApplicantShow"
                    [totalElements]="totalElements" (onReload)="onReload($event)"></app-user-job-applicant>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<p-dialog [(visible)]="isConfirmDelete" [draggable]="false" class="custom-dialog"
    [header]="'label.confirm_delete' | translate" (onHide)="isConfirmDelete = false">
    <div style="padding-top: 30px; margin-bottom: 30px;" class="text-center font-size-14">
        {{ 'message.do_u_wanna_remove_job' | translate :{job: job?.jobName} }}
    </div>

    <div class="flex justify-content-center">
        <p-button [label]="'button.delete' | translate" class="btn-delete"
            (onClick)="onDelete()"></p-button>
        <p-button [label]="'button.cancel' | translate"
            (onClick)="isConfirmDelete = false"></p-button>
    </div>
</p-dialog>
