<div class="flex flex-column align-items-center relative">
    <div class="flex justify-content-start align-items-start" style="position: absolute; top: -160px; right: -10px;">
        <i (click)="onOpen('')" class="pi pi-plus-circle add cursor-pointer"></i>
    </div>
    <div class="flex w-full justify-content-center align-items-center account-items" *ngFor="let i of accountMember">
        <div class="w-full company-member">
            <div class="flex w-full justify-content-between align-items-center">
                <div class="flex w-full justify-content-start align-items-center">
                    <img *ngIf="i?.avatar" [src]="i?.avatar" class="icon">
                    <div class="icon" *ngIf="!i?.avatar">
                        <img src="../../../../../assets/images/TopWork-logo.png" width="100%">
                    </div>
                    <div>
                        <h3 style="margin-bottom: 3px;">{{ i?.lastName + " " + i?.firstName }}</h3>

                        <h4 style="margin-bottom: 3px;">{{ i?.email }}</h4>

                        <p class="font-size-13">{{ parseRole(i?.role) }}</p>
                    </div>
                </div>
                <img src="../../../../../assets/images/icons/edit-2.svg" class="cursor-pointer" (click)="onOpen(i?.id)">
            </div>
        </div>
    </div>
</div>

<p-paginator (onPageChange)="onReloadData.emit($event)" [rows]="paging.pageSize" [totalRecords]="totalElements" 
    [first]="first" *ngIf="totalElements > paging.pageSize"></p-paginator>

<p-dialog [(visible)]="showMemberSetting" (onHide)="onCancel()" 
    [header]="label" class="custom-dialog">
    <form [formGroup]="accountForm">
        <div class="flex justify-content-between">
            <div class="flex flex-column">
                <label class="font-bold" for="firstName" style="margin-bottom: 3px;">
                    {{ 'label.first_name' | translate }}
                </label>
                <input pInputText type="text" id="firstName" formControlName="firstName">
            </div>

            <div class="flex flex-column">
                <label class="font-bold" for="lastName" style="margin-bottom: 3px;">
                    {{ 'label.last_name' | translate }}
                </label>
                <input pInputText type="text" id="lastName" formControlName="lastName">
            </div>
        </div>

        <div class="flex flex-column">
            <label class="font-bold" for="email" style="margin-bottom: 3px;">
                {{ 'label.email' | translate }}
            </label>
            <input pInputText type="text" id="email" formControlName="email">
        </div>

        <div class="font-bold">Role</div>

        <div class="role flex align-items-center" 
            [ngClass]="accountForm.value.role == constant.USER_ROLE.COMPANY_ADMIN?'role-active' : ''">
            <p-radioButton name="role" [value]="constant.USER_ROLE.COMPANY_ADMIN" inputId="admin" 
               formControlName="role"></p-radioButton>
            <label for="admin">{{ parseRole(constant.USER_ROLE.COMPANY_ADMIN) }}</label>
        </div>

        <div class="role flex align-items-center" 
            [ngClass]="accountForm.value.role == constant.USER_ROLE.COMPANY_ADMIN_MEMBER?'role-active' : ''">
            <p-radioButton name="role" [value]="constant.USER_ROLE.COMPANY_ADMIN_MEMBER" inputId="admin_member" 
               formControlName="role"></p-radioButton>
            <label for="admin_member">{{ parseRole(constant.USER_ROLE.COMPANY_ADMIN_MEMBER) }}</label>
        </div>

        <div class="role flex align-items-center" style="margin-bottom: 30px;"
            [ngClass]="accountForm.value.role == constant.USER_ROLE.COMPANY_MEMBER?'role-active' : ''">
            <p-radioButton name="role" inputId="member" [value]="constant.USER_ROLE.COMPANY_MEMBER"
                
               formControlName="role"></p-radioButton>
            <label for="member">{{ parseRole(constant.USER_ROLE.COMPANY_MEMBER) }}</label>
        </div>

        <div class="flex justify-content-center align-items-center">
            <p-button [label]="'button.save' | translate" (onClick)="onSubmit(userId)" 
                [disabled]="accountForm.invalid || disable"></p-button>
            <p-button [ngClass]="userId?'btn-delete':'btn-cancel'" (onClick)="userId?deleteUser(userId):onCancel()" 
                [label]="(userId?'button.delete':'button.cancel') | translate"></p-button>
        </div>
    </form>
</p-dialog>

