<div class="user-job-applicant">
    <div class="flex justify-content-between w-full" *ngFor="let u of userApplicant">
        <div class="flex flex-column" style="width: 78%;">
            <div class="flex align-items-center cursor-pointer" 
                (click)="openPoup(u.id)">
                <img *ngIf="u.avatar" [src]="u?.avatar" class="icon">
                <div class="icon">
                    <img *ngIf="!u.avatar" src="../../../../../assets/images/TopWork-logo.png" width="100%">
                </div>
                <div>
                    <h4>{{ u.firstName + ' ' + u.lastName }}</h4>
                    <p style="margin-bottom: 0;">{{ u.position }}</p>
                </div>
            </div>
    
            <p>{{ parseYearExperience(u.yearExperience) }}</p>
            <div class="flex flex-wrap">
                <p-chip *ngFor="let item of u.skills">{{ item.name }}</p-chip>
                <p-chip *ngFor="let item of u.languages">{{ item.name }}</p-chip>
            </div>
        </div>
    </div>
</div>

<p-paginator (onPageChange)="onReload.emit($event)" [rows]="paging.pageSize" [totalRecords]="totalElements" 
    [first]="first"></p-paginator>

<p-dialog [(visible)]="showUserDetail" [draggable]="false" class="user-detail-popup" 
    [showHeader]="false">
    <i class="lose-popup pi pi-times-circle cursor-pointer" (click)="showUserDetail = false"></i>
    <app-candidate-detail *ngIf="showUserDetail" [userId]="userId"></app-candidate-detail>
</p-dialog>