<div class="w-fit-content">
    <div class="company-info flex align-items-center justify-content-start header">
        <div class="cursor-pointer" (click)="onBack()">
            <img src="../../../../assets/images/icons/arrow-left.svg" style="margin-right: 30px;">
        </div>
        <div class="flex align-items-end">
            <img src="../../../../assets/images/icons/buliding.svg" *ngIf="false" style="margin: 0 10px 0 !important;">
            <div class="icon flex justify-content-start align-items-center">
                <img src="../../../../assets/images/TopWork-logo.png" width="100%" alt="">
            </div>
            <h2>{{ company?.companyName }}</h2>
        </div>
    </div>
    
    <div class="company-tabs">
        <p-tabView (onChange)="onChangeTabView($event)" [(activeIndex)]="selectedTab">
            <p-tabPanel *ngFor="let tab of tabViews" [selected]="tab.index === selectedTab" 
                [header]="tab.label | translate">
                <app-company-general [company]="company" *ngIf="selectedTab  === 0"></app-company-general>
                <app-company-job *ngIf="selectedTab === 1" [companyId]="companyId"></app-company-job>
                <app-company-account *ngIf="selectedTab === 2"></app-company-account>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
