.candidate-table {
    padding: 30px 20px;
}

.lose-popup {
    position: fixed;
    top: 20px;
    right: 35px;
}

.lose-popup.pi {
    font-size: 2rem !important;
    color: var(--primary-600);
}

.user-detail-popup .p-dialog-mask {
    background-color: rgba(69, 97, 97, 0.7) !important;
}

.search {
    margin-bottom: 30px;
    position: relative;

    img {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    input {
        margin-right: 20px;
    }
}

.btn-delete {
    margin-right: 30px;
}

:host::ng-deep {
    .search input{
        border-radius: 0;
        padding-left: 40px !important;
        border: 2px solid !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
    }
}