<div class="header">
    <h3>{{ 'label.candidates' | translate }}</h3>
</div>

<div class="candidate-table">
    <div class="w-8 flex justify-content-start align-items-center search">
        <img src="../../../../assets/images/icons/search-normal.svg" [width]="24" alt="">
        <input type="text" pInputText [(ngModel)]="keyword"
            [placeholder]="'message.search_by_email_last_name_first_name_phone_number' | translate">

        <button class="btn-edit" pButton [label]="'button.search' | translate"
            (click)="onSearch(keyword)"></button>
    </div>

    <p-table class="table" [value]="candidates" 
    [rows]="paging.pageSize" [paginator]="true"
    [(first)]="first" [lazy]="true" [rowHover]="true"
    [totalRecords]="totalPages" (onLazyLoad)="onLoadData($event)" 
    [paginator]="totalPages>1" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'label.id' | translate }}</th>
                <th>{{ 'label.first_name' | translate }}</th>
                <th>{{ 'label.last_name' | translate }}</th>
                <th>{{ 'label.year_experience' | translate }}</th>
                <th>{{ 'label.email' | translate }}</th>
                <th>{{ 'label.phone_number' | translate }}</th>
                <th>{{ 'label.cv' | translate }}</th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr style="height: 50px;">
                <td class="text-ellipsis cursor-pointer" 
                    (click)="checkCV(item)?openPdf(item.id):openUserDetailPopup(item.id)">
                    {{ item.id }}
                </td>
                <td class="text-ellipsis cursor-pointer"
                    (click)="checkCV(item)?openPdf(item.id):openUserDetailPopup(item.id)">
                    {{ item.firstName }}
                </td>
                <td class="text-ellipsis cursor-pointer"
                    (click)="checkCV(item)?openPdf(item.id):openUserDetailPopup(item.id)">
                    {{ item.lastName }}
                </td>
                <td class="text-ellipsis cursor-pointer"
                    (click)="checkCV(item)?openPdf(item.id):openUserDetailPopup(item.id)">
                    {{ getYearExperience(item.yearExperience) }}
                </td>
                <td class="text-ellipsis cursor-pointer"
                    (click)="checkCV(item)?openPdf(item.id):openUserDetailPopup(item.id)">
                    {{ item.email }}
                </td>
                <td class="text-ellipsis cursor-pointer"
                    (click)="checkCV(item)?openPdf(item.id):openUserDetailPopup(item.id)">
                    {{ item.phoneNumber }}
                </td>
                <td class="text-ellipsis cursor-pointer">
                   <img *ngIf="item.cv" src="../../../assets/images/icons/document.svg">
                </td>
                <td class="w-full h-full flex justify-content-center align-items-center" 
                    style="height: 50px !important;">
                    <img src="../../../assets/images/icons/menu-dot.svg" class="cursor-pointer" 
                        [width]="24" (click)=" menu.toggle($event); userId = item.id;">
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="showUserDetail" [draggable]="false" class="user-detail-popup custom-dialog" 
    [showHeader]="false" [blockScroll]="true">
    <i class="lose-popup pi pi-times-circle cursor-pointer" (click)="showUserDetail = false"></i>
    <app-candidate-detail *ngIf="showUserDetail" [userId]="id"></app-candidate-detail>
</p-dialog>

<p-dialog [(visible)]="isConfirmDelete" [draggable]="false" [blockScroll]="true" class="custom-dialog"
    [header]="'label.confirm_delete' | translate" (onHide)="isConfirmDelete = false">
    <div style="padding-top: 30px; margin-bottom: 30px;" class="text-center font-size-14">
        {{ 'message.do_u_wanna_remove_candidate' | translate }}
    </div>

    <div>
        <p-button [label]="'button.delete' | translate" class="btn-delete"
            (onClick)="onDelete()"></p-button>
        <p-button [label]="'button.cancel' | translate"
            (onClick)="isConfirmDelete = false"></p-button>
    </div>
</p-dialog>

<p-menu #menu [model]="item" [popup]="true"></p-menu>