<div class="header flex w-full justify-content-between align-item-end">
    <h3>{{ 'label.company' | translate }}</h3>
    <p-button [label]="'New'" (onClick)="isShowAddCompanyPopup = true"
        [style]="{'width' : '100px'}"></p-button>
</div>


<div class="company-table">
    <div class="w-8 flex justify-content-start align-items-center search">
        <img src="../../../../assets/images/icons/search-normal.svg" [width]="24" alt="">
        <input type="text" pInputText [(ngModel)]="keyword"
            [placeholder]="'message.search_by_email_company_name' | translate">

        <button class="btn-edit" pButton [label]="'button.search' | translate"
            (click)="onSearch(keyword)"></button>
    </div>

    <p-table class="table" *ngIf="totalElements > 0" (onLazyLoad)="onLoadData($event)"
    [rows]="paging.pageSize" [paginator]="true" [lazy]="true" [value]="companies"
    [rowHover]="true" [paginator]="totalElements > paging.pageSize" [totalRecords]="totalElements"
     responsiveLayout="scroll" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'label.id' | translate }}</th>
                <th>{{ 'label.company_name' | translate }}</th>
                <th>{{ 'label.email' | translate }}</th>
                <th>{{ 'label.phone_number' | translate }}</th>
                <th>{{ 'label.size' | translate }}</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr (click)="onNavigateToDetail(item.id)" class="cursor-pointer">
                <td class="text-ellipsis cursor-pointer">
                    {{ item.id }}
                </td>
                <td class="text-ellipsis cursor-pointer">
                    {{ item.companyName }}
                </td>
                <td class="text-ellipsis cursor-pointer">
                    {{ item.email }}
                </td>
                <td class="text-ellipsis cursor-pointer">
                    {{ item.phoneNumber }}
                </td>
                <td class="text-ellipsis cursor-pointer">
                    {{ parseSize(item.size) }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [header]="'label.new_company' | translate" [(visible)]="isShowAddCompanyPopup" 
    (onHide)="isShowAddCompanyPopup = false" [draggable]="false" class="custom-dialog">

    <form style="padding-top: 30px;" [formGroup]="companyForm">
        <div class="flex flex-column" style="margin-bottom: 10px;">
            <label for="companyName" class="font-size-13 font-bold" style="margin-bottom: 3px;">
                {{ 'label.company_name' | translate }}
            </label>
            <input type="text" id="companyName" pInputText formControlName="companyName">
        </div>

        <div class="flex flex-column" style="margin-bottom: 10px;">
            <label for="phoneNumber" class="font-size-13 font-bold" style="margin-bottom: 3px;">
                {{ 'label.phone_number' | translate }}
            </label>
            <input type="text" id="phoneNumber" pInputText formControlName="phoneNumber">
        </div>

        <div class="flex flex-column" style="margin-bottom: 10px;">
            <label for="email" class="font-size-13 font-bold" style="margin-bottom: 3px;">
                Email
            </label>
            <input type="text" id="email" pInputText formControlName="email">
        </div>

        <div class="flex flex-column w-full" style="margin-bottom: 30px;">
            <label for="email" class="font-size-13 font-bold" style="margin-bottom: 3px;">
                {{ 'label.size' | translate }}
            </label>
            <p-dropdown [appendTo]="'body'" [options]="companySizes" [optionLabel]="'label'"
                [optionValue]="'id'" class="w-full" [style]="{'width' : '100%'}"
                formControlName="size"></p-dropdown>
        </div>

        <div class="flex justify-content-center">
            <p-button (onClick)="onSubmit()" [label]="'button.save' | translate" 
                class="mr-20" [disabled]="companyForm.invalid"></p-button>
            <p-button (onClick)="onCancel()" [label]="'button.cancel' | translate" 
                class="btn-cancel"></p-button>
        </div>
    </form>
</p-dialog>