<div class="w-full company-job" *ngFor="let job of jobs" [routerLink]="'/job/' + job.id">
    <div class="flex flex-column w-full">
        <div class="flex w-full justify-content-between align-items-center">
            <div class="flex align-items-center">
                <img [src]="job.companyAvatar" *ngIf="job.companyAvatar" class="avatar">
                <div class="avatar" *ngIf="!job.companyAvatar">
                    <img src="../../../../../assets/images/TopWork-logo.png" width="100%">
                </div>

                <div>
                    <h3>{{ job.jobName }}</h3>
                    <h4>{{ job.jobPosition }}</h4>
                </div>
            </div>

            <div class="flex align-items-center">
                <img src="../../../../../assets/images/icons/clock.svg" style="margin-right: 10px;">
                <span>{{ parseDate(job.expiryDate) }}</span>
            </div>
        </div>
        <div class="flex align-items-center">
            <img src="../../../../../assets/images/icons/dollar-circle.svg" [width]="24"
                style="margin-right: 10px;">
            <span>{{ parseSalary(job.salary) }}</span>
        </div>
        <div class="flex flex-wrap">
            <p-chip *ngFor="let skill of job.skills" class="flex align-items-center">
                {{ skill.name }}
            </p-chip>

            <p-chip *ngFor="let lang of job.languages" class="flex align-items-center">
                {{ lang.name }}
            </p-chip>
        </div>
    </div>
</div>

<p-paginator (onPageChange)="onReloadData.emit($event)" [rows]="paging.pageSize" [totalRecords]="totalElements" 
    [first]="first" *ngIf="totalElements > paging.pageSize"></p-paginator>