<div class="w-full company-job" *ngFor="let job of jobs" [routerLink]="'/job/' + job.id"
    [ngClass]="checkExpiryDateJob(job.expiryDate)?'company-job-expiry' : ''">
    <div class="flex flex-column w-full">
        <div class="flex w-full justify-content-between align-items-center">
            <h3>{{ job.jobName }}</h3>

            <div class="flex align-items-center">
                <img src="../../../../../assets/images/icons/clock.svg" style="margin-right: 10px;">
                <span>{{ job.expiryDate }}</span>
            </div>
        </div>
        <h4>{{ job.position }}</h4>
        <span>{{ job.salary }}</span>
        <div class="flex flex-wrap">
            <p-chip *ngFor="let skill of job.skills" class="flex align-items-center">
                <span class="skill-name">{{ skill.name }}</span>
            </p-chip>

            <p-chip *ngFor="let lang of job.languages" class="flex align-items-center">
                <span class="skill-name">{{ lang.name }}</span>
            </p-chip>
        </div>
    </div>
</div>

<p-paginator (onPageChange)="onPageChange($event)" [rows]="paging.pageSize" 
    [totalRecords]="totalElements" [first]="first" *ngIf="totalElements > paging.pageSize">
</p-paginator>