.job-table {
    padding: 30px 20px;
}

.search {
    margin-bottom: 30px;
    position: relative;

    img {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    input {
        margin-right: 20px;
    }
}

:host::ng-deep {
    .search input, .search .p-dropdown{
        border-radius: 0;
        padding-left: 40px !important;
        border: 2px solid !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
    }

    .search .p-dropdown {
        padding-left: unset !important;
    }

    .search p-dropdown {
        margin-right: 20px;
    }
}