<div class="flex flex-column general">
    <h1>Overview</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, rerum. Enim atque illum velit voluptatibus vero, sed placeat cupiditate quis possimus ut deleniti aliquam, error, quo assumenda? Impedit, non? Repellendus!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestiae, aliquam dolorem id sit quia harum impedit fugiat nobis iure, reiciendis eum corrupti debitis illum quo laudantium repellat sunt odio.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum facere dicta libero in odio deleniti? Recusandae fugit animi similique! Reiciendis consectetur, quis quos vero molestias aperiam nam aspernatur magnam cum?</p>
    
    <div class="flex align-items-center">
        <i class="pi pi-users"></i>
        <span>over 100</span>
    </div>

    <div class="flex align-items-center">
        <i class="pi pi-phone"></i>
        <span>034xxxxxx7</span>
    </div>
    
    <div class="flex align-items-center">
        <i class="pi pi-envelope"></i>
        <span>abcxyz@gmail.com</span>
    </div>

    <div class="flex align-items-center">
        <i class="pi pi-globe"></i>
        <span>www.abcxyz.com.vn</span>
    </div>

    <div class="flex align-items-start">
        <i class="pi pi-briefcase"></i>
        <span>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat doloremque, officiis quo inventore tempore commodi quasi reprehenderit quaerat molestiae illo consequuntur perferendis sit odit excepturi quidem? Neque expedita repudiandae doloribus?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, dicta iure. Ratione temporibus eum est! Ratione, ea. Obcaecati explicabo doloremque autem maiores eveniet inventore. Culpa voluptatum amet minima odio molestias!
        </span>
    </div>
</div>
