<div class="flex flex-column general">
    <h1>{{ 'label.overview' | translate }}</h1>
    <p [innerHTML]="company?.overview"></p>

    <div class="flex align-items-center" *ngIf="company?.size">
        <img src="../../../../../assets/images/icons/users.svg" alt="">
        <span>{{ company?.size }}</span>
    </div>

    <div class="flex align-items-center" *ngIf="company?.phoneNumber">
        <img src="../../../../../assets/images/icons/call.svg" alt="">
        <span>{{ company?.phoneNumber }}</span>
    </div>
    
    <div class="flex align-items-center" *ngIf="company?.email">
        <img src="../../../../../assets/images/icons/sms.svg" alt="">
        <span>{{ company?.email }}</span>
    </div>

    <div class="flex align-items-center" *ngIf="company?.website">
        <img src="../../../../../assets/images/icons/global.svg" alt="">
        <span>{{ company?.website }}</span>
    </div>

    <div class="flex align-items-start" *ngIf="company?.address">
        <img src="../../../../../assets/images/icons/briefcase.svg" alt="">
        <span [innerHTML]="company?.address"></span>
    </div>
</div>
